.button-shadow-hover {
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.44);
}
.button-shadow-hover:hover {
	-webkit-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.44);
}
.button-thin-shadow {
	-webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.32);
	box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.32);
}
.button-thin-shadow:hover {
	-webkit-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.32);
	box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.32);
}
