.title-container {
	background-image: url('../assets/slider_background.png');
	background-size: cover;
	justify-content: center;
	align-items: center;

	height: 500px;
}
.page-title {
	font-size: 70px;
	font-weight: 700;
}
.large-margin {
	margin-top: 120px;
}
